*{padding: 0; margin: 0;}

a:link, a:visited, a:active{color:black;
   text-decoration:none;}

ul{list-style-type:none;}

header{position:fixed;
       background-color:yellow;
	   margin:0vh 0vh 0vh 0vh;}

header img{margin:0vh 0vh 0vh 2.2vh;}

nav{position:fixed;
    background-color:yellow;
    margin:14.7vh 0vh 0vh 0vh;
    padding:0vh 0vh 15vh 0vh;
}
nav li{margin:4vh 0vh 0vh 0vh;
    font-family:Arial;
	font-size:2.5vh;}	
	
article{margin:-2vh 0vh -2vh 17vh;
        background-color:#81F7F3;}

footer{background-color:#81F7F3;}


h1, h2, p{text-align:center;
          font-family:Arial;
		  margin:2vh 0vh 0vh 0vh;}
		 