*{padding:0; margin:0;}
#section{display:grid;
grid-template-rows:9vh 520vh 8vh;
grid-template-areas:"header header"
                    "article article"
                    "footer footer";}
					
.header{grid-area:header;background-color:yellow;} 
.article{grid-area:article;background-color:#2EFEF7;}
.footer{grid-area:footer;background-color:yellow;}

a:link, a:visited, a:active{color:black;
                            text-decoration:none;}

ul{list-style-type:none;}

a:hover img{max-width:200px;	
	        transition:0.2s;	
	        transform: scale(1.5);}
	
h1, p, h2{text-align:center;}	
h1{font-size:5vh;
   font-family:Arial;}
p{font-size:3vh;
  font-family:Arial;}

header{position:relative;
	   margin:0vh 0vh 0vh 18vh;}		
header li{display:inline;
          margin:0vh 0vh 0vh 5vh;}
header ul{margin:0vh;}
	
nav{position:fixed;
    background-color:yellow;
    margin:0vh;
    padding:0vh 0vh 100vh 0vh;}
nav ul{margin:25vh 0vh 0vh 0vh;}
nav li{font-size:2.5vh;
       margin:10vh 0vh 0vh 0vh;
       font-family:Arial;}

article{position:relative;
	    margin:1vh 0vh 0vh 18vh;}
iframe{width:61vh; 
       height:100vh;}
	   
.galeria{margin:.5vw;
    font-size:0;
	display:-ms-flexbox;
	-ms-flexbox-wrap:wrap;
	-ms-flexbox-direction:column;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	display:-webkit-box;
	display:flex;
}	   
.galeria div{-webkit-box-flex:auto;
-ms-flex:auto;
flex:auto;
width:200px;
margin:.5vw;	
}
.galeria div img{
	width:100%;
	height:auto;
}

	   
footer{position:relative;
	   margin:1vh 0vh 0vh 18vh;}

/*-----------------------breakpoint-----------------------------------*/
@media(min-width:375px){
iframe{height:103vh;}
}
@media(min-width:1024px){
iframe{height:148vh;
width:150vh;}
header ul{margin:0vh 0vh 0vh 10vh;}
header li{display:inline;
          margin:0vh 0vh 0vh 20vh;}
}
@media(max-width:400px){
	.galeria div{margin:0;}
	.galeria{padding:0;}
}
@media(min-width:1024px){
	.galeria div{-webkit-box-flex:auto;
-ms-flex:auto;
flex:auto;
width:320px;
margin:20vh 5vh 0vh 0vh;}
#section{display:grid;
grid-template-rows:9vh 550vh 8vh;
grid-template-areas:"header header"
                    "article article"
                    "footer footer";}
h1{font-size:6vh;}
}